@import '../../assets/parametrs.scss';

.MyDebts{
    background-color: $cardColor;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    // max-width: max-content;
    width: 250px;
    cursor: pointer;
    transition: 0.3s all ease;
    height: 260px;
    
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    &:hover{
        box-shadow: rgba(0, 0, 0, 0) 0px 3px 8px;
        background-color: $cardColorHover;
    }
}

.title{
    font-size: 20px;
    font-weight: 900;
    font-style: bold;
}
.addWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addButton{
    background-color: transparent;
    border: none;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all ease;
    cursor: pointer;
    &:hover{
        transform: rotate(90deg);
    }
    .addButtonIcon{
        width: inherit;
        height: inherit;
        pointer-events: none;
    }
}